.player{
    position: fixed;
    margin: 0;
    border: 1px solid orange;
    bottom: 0px;
    background-color: green;
    color: #fff;
    width: 100%;
    height: 10%;
    display: flex;
    z-index:1;
}

.app-container{
    
}

.player .music-name{
    margin: auto;
}

@media screen and (min-width: 769px){
    .player{  
        width: 80%;
        margin: 0 10%;
    }  
}